.edit-profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.change-password {
  margin: 20px auto;
}

.delete-account {
  margin: 0 auto;
}
