extends base

block content
    if errorMessage
        span=errorMessage
    form.general-form(method="post")
        input(name="oriPwd", placeholder="Enter your original password" type="password" required)
        input(name="newPwd", placeholder="Enter your new password" type="password" required)
        input(name="newPwdConf", placeholder="Enter your new password again" type="password" required)
        input.form-button(type="submit" value="Change")