extends base

block content
    if errorMessage 
        h3=errorMessage
    form.general-form(method="post")
        input(placeholder="email" type="email" name="email" required)
        input(placeholder="ID" name="username" required)
        input(placeholder="Password" type="password" name="password" minlength="8" required)
        input(placeholder="Input your password again." type="password" name="password2" minlength="8" required)
        input(placeholder="Nickname" name="nickname" required)
        input.form-button(value="Join" type="submit")
    hr
    div.social-login
        a(src="/users/github/start").button
            i(class="fa-brands fa-github")
            span Continue with Github &rarr; 
    div.join__login 
        span Already have an account? 
        a(href="/login").button Login now &rarr;