extends base.pug

block content
    div.login
        if errorMessage 
            h3.error-message=errorMessage
        form.general-form(method="post")
            input(type="text", placeholder="Enter your ID" name="username")
            input(type="password", placeholder="Enter your password" name="password")
            input.form-button(value="Login" type="submit")
        hr
        a(href="/users/github/start").button.login__form__github 
            i(class="fa-brands fa-github")
            span Continue with Github &rarr;
        div.login__join 
            span Don't have an account? 
            a(href="/join").button Create one now 
    