extends base
include mixins/searchVideoList

block content 
    div.search-videos 
        each video in videos
            +videoList(video)
        else 
            h3.empty-message No videos found
