header 
    nav.nav 
        div.nav__home
            a(href="/") 
                i(class="fa-brands fa-youtube fa-2xl")
                span WETUBE
        div.nav__search 
            form(method="get" action="/search")
                input(placeholder="Search by title" name="keyword")
                button(type="submit") 
                    i(class="fa-solid fa-magnifying-glass")
        ul.nav__user
            if loggedIn
                li 
                    a(href="/videos/upload") 
                        i(class="fa-solid fa-upload")
                        span Upload
                li 
                    a(href=`/users/${loggedInUser._id}`)
                        i(class="fa-regular fa-user")
                        span=loggedInUser.username
                li 
                    a(href="/users/logout") 
                        i(class="fa-solid fa-right-from-bracket")
                        span Logout
            else
                li.nav__user__login 
                    a(href="/login") 
                        i(class="fa-solid fa-right-to-bracket")
                        span Login
                            
        
            
                
    